<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
    </style>
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as ctrl'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="ctrl.NarrowIt()">Narrow It Down For Me!</button>
    </div>

    <found-items
      found="ctrl.found"
      on-remove="ctrl.removeItem(index)"></found-items>

    <div ng-if="ctrl.nothing()" class="emptyMessage">Nothing found</div>

  </div>

</body>
</html>
